{% load static %}
{% block extrahead %}
    <!--[if lte IE 8]><script src="{% static 'App/ie/html5shiv.js' %}"></script><![endif]-->
    <script src="{% static 'App/js/jquery.min.js' %}"></script>
    <script src="{% static 'App/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'App/js/jquery.scrollgress.min.js' %}"></script>
    <script src="{% static 'App/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'App/js/jquery.slidertron.min.js' %}"></script>
    <script src="{% static 'App/js/jquery.min.js' %}"></script>
    <script src="{% static 'App/js/skel.min.js' %}"></script>
    <script src="{% static 'App/js/skel-layers.min.js' %}"></script>
    <script src="{% static 'App/js/init.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'App/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'App/skel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'App/css/style-xlarge.css' %}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'App/ie/v9.css' %}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'App/ie/v8.css' %}" /><![endif]-->
{% endblock %}

<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
			<h1><a href="index.html">HTML5 Website <span>by Html5webtemplates.co.uk</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Layouts</a>
							<ul>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li>
								<li>
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Option 1</a></li>
										<li><a href="#">Option 2</a></li>
										<li><a href="#">Option 3</a></li>
										<li><a href="#">Option 4</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>Przewidywanie ruchu turystycznego na rok 2018</h2>
					<p> </p>
				</header>
				<div class="container">

					<!-- Content -->
						<section id="content">
							<a href="#" class="image fit"><img src="{% static 'App/images/pic07.jpg' %}" /></a>


                            <form action="result/" method="post" id="mainform">

                            <label>Województwo: </label>
                            <select name="provinces" form="mainform">
                            {% for entry in data %}
                                <option value="{{ entry.id }}">{{ entry.province }}</option>
                            {% endfor %}
                            </select>

                            <label>Ruch turystyczny od: </label>
                            <select name="monthfromlist" form="mainform">
                                <option value='i'> Styczeń </option>
                                <option value='ii'> Luty </option>
                                <option value='iii'> Marzec </option>
                                <option value='ii'> Kwiecień </option>
                                <option value='v'> Maj </option>
                                <option value='vi'> Czerwiec </option>
                                <option value='vii'> Lipiec </option>
                                <option value='viii'> Sierpień </option>
                                <option value='ix'> Wrzesień </option>
                                <option value='x'> Październik </option>
                                <option value='xi'> Listopad </option>
                                <option value='xii'> Grudzień </option>

                            </select>

                            <label>Ruch turystyczny do: </label>
                            <select name="monthtolist" form="mainform">
                                <option value='i'> Styczeń </option>
                                <option value='ii'> Luty </option>
                                <option value='iii'> Marzec </option>
                                <option value='ii'> Kwiecień </option>
                                <option value='v'> Maj </option>
                                <option value='vi'> Czerwiec </option>
                                <option value='vii'> Lipiec </option>
                                <option value='viii'> Sierpień </option>
                                <option value='ix'> Wrzesień </option>
                                <option value='x'> Październik </option>
                                <option value='xi'> Listopad </option>
                                <option value='xii'> Grudzień </option>
                            </select>

                            <input type="submit" value="Zobacz predykcję!">
                            </form>

						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
			&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>

	</body>
</html>