{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'App/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'App/css/style-large.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'App/css/bootstrap.css' %}" />
    <script src="{% static 'App/js/highcharts.src.js' %}"></script>

{% endblock %}

<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
			<h1><a href="/">Predykcja <span>Ruchu Turystycznego</span></a></h1>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>Przewidywanie ruchu turystycznego na rok 2018</h2>
					<p> </p>
				</header>
				<div class="container">

					<!-- Content -->
						<section id="content">
							<a href="#" class="image fit"><img src="{% static 'App/images/pic07.jpg' %}" /></a>

                        {% block content %}

                            <form method="POST" action="index" >
                            {% csrf_token %}
                            {{ form }}

                            <input style="margin-top: 10px;" type="submit" value="Zobacz predykcję!"/>
                            </form>

                        {% endblock %}

						</section>
				</div>
			</section>

    <!-- Footer -->
			<footer id="footer">
                <span class="copyright">
                    &copy; Copyright. All rights reserved. Design by
                    <span style="color: red">Sławomir Niedbała</span>,
                    <span style="color: blue">Mateusz Maciąg</span>,
                    <span style="color: green">Artur Pilch</span>,
                    <span style="color: orange">Magda Ważna</span>
                </span>
			</footer>

	</body>
</html>